<html>

<head>
    <meta charset="utf-8" />
    <title>Your App</title>
    <link rel="shortcut icon"
        href="https://img10.360buyimg.com/n1/jfs/t1/157237/38/24921/74533/617003ceE96eaf476/effec883c38670e8.jpg"
        type="image/x-icon">
</head>

<body>
    <div id="root"></div>
</body>

</html>